/*-----------footer index--------*/
    .redes{
    @include flex (flex,flex-end,center);
    background-color: $color-decimotercero;
        a{
            img{ 
                width: 50px;
                height: 50px;
                margin: 30px;
            }
        }
    }