.header{ 
    width: 100%;
    .navbar{
        .container-fluid{  
            background-color: $color-primario;
            }
            h1{
                color: $color-secundario;
                font-size: nth($size,1);
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-style: italic;
                font-weight: 200;
                padding: 10px;
            }
            
            .collapse{
                .navbar-nav{
                    list-style: none;
                }
                .nav-item{
                    display: inline;
                    margin: 2px;
                    padding: 3px;
                    .nav-link{
                        text-decoration: none;
                        background-color:$color-terciario;
                        display: flex;
                        justify-content: center;
                        border: solid $color-cuarto;
                        border-radius: 10px;
                        &:hover{
                            color:nth($colores,1);
                        }
                        
                    }
                }
                .d-flex{
                    .form-control{
                        background-color: $color_quinto;
                        
                    }
                }
            }
        }
    }