/*-------------index----------*/
.centro{  
    background-color: $color-sexto;
    .titulo{
    color: $color-septimo;
    text-align: center;
    font-size: 38px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    padding: 80px;    
    }
    .animate__heartBeat{
    animation-duration: 30s;
    }
    div{
    .frente{
        width: 100%;
        height: 550px;
    }
    }
        .productos{ 
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin: 10px;
        padding: 11px;
        
        }
        .product{
        height: 350px;
        width: 300px;
        border: solid 1px $color-cuarto;
        margin: 31px;
        padding: 5px;
        color: $color-cuarto;
        text-align: center;
        background-color: $color-decimotercero;
        transition: 1s;
        &:hover{
        transform: scale(1.1);
        box-shadow: 10px 12px 20px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 12px 20px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 12px 20px 0px rgba(0,0,0,0.75);
        }
        h3{
            font-size: 18px;
            background-color: $color-decimotercero;
        }
        .productosportada{
            width: 250px;
            height: 250px;
            margin: 15px;
        }
        .boton{
            text-decoration: none !important;
            border: black solid 2px;
            color: white;
            background-color: $color-cuarto;
            padding: 5px;
            }
        }
        section{
        .map{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            
            .subtitulo{
                font-size: 30px;
                color: $color-cuarto;
                margin: 10px;
            }
            }
        }
    }
