/*---------------mensajes------------*/
body{
    background-color: $color-sexto;
.header{
    background-color:$color-sexto;
    
}
.container{
    padding:35px;
.row{
    background-color: $color-duodecimo;

}
.btn-container{
    display: flex;
    justify-content: center;
    padding: 20px;
}
}
}