/*------------mueble----------------*/
main{
    background-color: $color-sexto;
    div{
        .modernotitulo{
            color: $color-septimo;
            text-align: center;
            font-size: 38px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-style: italic;
            padding: 80px;   
            }
        .principal{
            background-size: cover;
            background-repeat: no-repeat;
            background: center;
            width: 100%;
            height: 550px;
        }
    }
    .modelos{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: $color-sexto;
        width: 100%;
        
        
        .muebletele{
                font-size: 30px;
                color:$color-cuarto;
                margin: 5px;
        }
        .parrafo{
            color: $color-decimo;
            padding: 20px;
        }
        div{
            img{
                border-radius: 150px;
                width: 400px;
                height: 300px;
            }
            }
        }
        .modelos2{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            background-color: $color-sexto;
            padding: 35px;
            .subtitulo{
                font-size: 30px;
                color: $color-cuarto;
                margin: 5px;
            }
            }
            .parrafo{
                color: darkgoldenrod;
                padding: 20px;
            }
            .armario{
                img{  
                    border-radius: 150px;
                    width: 400px;
                    height: 300px;
                }
            }
        }      
